// Подключение шрифтов
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

// Фирменные цвета
@my_blue: #4147C2;
@my_purple: #8333BD;
@my_green: #27AFAF;
@my_dark: #464646;

// Фоновые цвета
@my_white: #FFF;
@my_gray: #F2F2F2;

@title_font: Montserrat, sans-serif;
@major_font: Roboto, sans-serif;

// Некоторые размеры
@header_height: max(6.8vh, 60px);
@padding_size: 30px;

body {
    background-color: @my_white;
}

.row {
    padding: @padding_size 0;
}

.header {
    position: fixed;
    display:flex;
    top: 0;
    width: 100%;
    z-index: 1000;
    background: linear-gradient(90deg, @my_blue, @my_purple);
    color: @my_white;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    padding: 0 !important;
    justify-content: space-between;
    align-items: center;
    height: @header_height !important;
    font-family: @title_font;

    .logo img {
        width: @header_height;
        height: @header_height;
    }

    .title {
        text-align:left;
        font-weight: 600;
        @media (min-width: 992px) {
            font-size: 24px;
        }
        @media (min-width: 1200px) {
            font-size: 32px;
        }
        @media (min-width: 1400px) {
            font-size: 36px;
        }
    }
    .titles > div {
        display: inline-block;
        margin: 0;
        padding: 0;
        align-content: center;
        height: @header_height;
        width: 100%;
        text-align: center;
        word-spacing: 1.5vw;
        box-sizing: border-box;
        font-weight: 400;
        @media (min-width: 992px) {
            font-size: 20px;
        }
        @media (min-width: 1200px) {
            font-size: 24px;
        }
        a {
            color: #fff;
            text-decoration: none;
            &:hover {
                opacity: 0.8;
            }
        }
    }
    .action-btn-parent { 
        justify-content: center; // Горизонтальное выравнивание  
        align-items: center; // Вертикальное выравнивание
        font-weight: 400;
    }

    .action-btn {
        background-color: @my_green;
        border: none;
        color: #fff;
        height: calc(@header_height * 0.65);
        width: min(90%, 190px);
        border-radius: 20px;
        &:hover {
            opacity: 0.9;
        }
    }

    .menu {
        display:block;
        text-align: center;
        align-items: center; // Вертикальное выравнивание по центру  
        justify-content: center; // Горизонтальное выравнивание по центру
    }
}

.start {
    @spacing: 7%;

    margin-top: @header_height !important;
    background-color: @my_gray;
    font-family:@title_font;
    font-weight:500;

    .title {
        font-size:32px;
        text-align: center;
        @media (min-width: 576px) {
            font-size: 36px;
        }
        @media (min-width: 992px) {
            font-size: 32px;
            margin-top: @spacing;
            text-align: left;
        }
        @media (min-width: 1200px) {
            font-size: 36px;
            margin-top: @spacing;
            text-align: left;
        }
        @media (min-width: 1400px) {
            font-size: 40px;
            margin-top: @spacing;
            text-align: left;
        }
    }

    .subtitle {
        margin-bottom: @padding_size;
        line-height: 110%;
        font-size:36px;
        text-align: center;
        @media (min-width: 576px) {
            font-size: 40px;
        }
        @media (min-width: 992px) {
            font-size: 36px;
            margin-top: @spacing;
            text-align: left;
        }
        @media (min-width: 1200px) {
            font-size: 48px;
            margin-top: @spacing;
            text-align: left;
        }
        @media (min-width: 1400px) {
            font-size: 64px;
            margin-top: @spacing;
            text-align: left;
        }
    }

    .start-img {
        width:100%;
        border-radius: 35px;
    }
}

.supported {
    text-align: center;

    .title {
        font-weight: 500;
        font-style: @title_font;
        font-size: 26px;
        @media (min-width: 576px) {
            font-size: 32px;
        }
        @media (min-width: 1200px) {
            font-size: 40px;
        }
    }

    .subtitle {
        font-weight: 400;
        font-style: @title_font;
        font-size: 16px;
        @media (min-width: 576px) {
            font-size: 20px;
        }
        @media (min-width: 1200px) {
            font-size: 24px;
        }
    }

    .my-card {
        background: @my_blue;
        border-radius: 20%; /* Сделаем закругление, чтобы карточки выглядели лучше */
        margin: 15px; /* Отступ между карточками */
        width: max(150px, 18vh); /* Фиксированная ширина */
        height: max(150px, 18vh); /* Фиксированная высота */
        display: flex;
        flex-direction: column; /* Чтобы текст был под картинкой */
        justify-content: center;
        align-items: center;
        // box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Легкая тень для визуального эффекта */
        transition: transform 0.3s ease, box-shadow 0.3s ease; /* Анимация при наведении */

        &:hover {
            transform: translateY(-5px); /* Легкий подъем при наведении */
            box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3); /* Увеличение тени */
            background: @my_purple;
        }

        img {
            height: 60%;
            width: auto;
        }

        .name {
            color: @my_white;
            font-size: 16px;
            font-weight: 500;
            font-size: 24px;
        }
    }
}

.advantages {
    background: @my_gray;

    .main-title {
        font-family: @header_height;
        font-weight: 500;
        text-align: center;
        font-size: 26px;
        @media (min-width: 576px) {
            font-size: 32px;
        }
        @media (min-width: 1200px) {
            font-size: 40px;
        }
    }

    .my_card {
        background: @my_dark;
        color: @my_white;
        border-radius: max(38px, 5vh);
        margin: 15px;
        padding: 30px;

        // width: 400px;
        height: 300px;

        @media (max-width: 575px) {
            height: 250px;
        }

        display: flex;
        flex-direction: column;

        .top {
            display: flex;
            flex-direction: row;

            .title {
                margin-left: 15px;
                font-family: @title_font;
                font-weight: 600;
                font-size: 24px;
                @media (min-width: 768px) {
                    font-size: 24px;
                }
                @media (min-width: 1200px) {
                    font-size: 28px;
                }
            }
        }

        .text {
            margin-top: 10px;
            font-family: @title_font;
            font-weight: 400;
            font-size: 16px;
            @media (min-width: 992px) {
                font-size: 20px;
            }
        }
    }
}

.slider {
    .title {
        text-align: center;
        font-style: @title_font;
        font-weight: 500;
        font-size: 24px;
        @media (min-width: 576px) {
            font-size: 32px;
        }
        @media (min-width: 1200px) {
            font-size: 40px;
        }
        margin-bottom: calc(@padding_size / 2);
    }
    .slider-body {
        display: flex;
        color: @my_white;
        justify-content: center;
        align-items: center;
        font-style: @title_font;
        background: @my_blue;
        border-radius: max(38px, 5vh);
        width: 100%;
        height: 300px;
    }
}

.action {
    text-align: center;
    .title {
        font-style: @title_font;
        font-weight: 500;
        font-size: 24px;
        @media (min-width: 576px) {
            font-size: 32px;
        }
        @media (min-width: 1200px) {
            font-size: 40px;
        }
    }
    .subtitle {
        font-style: @major_font;
        font-weight: 400;
        font-size: 16px;
        margin-bottom: calc(@padding_size / 2);
        @media (min-width: 576px) {
            font-size: 20px;
        }
        @media (min-width: 1200px) {
            font-size: 24px;
        }
    }
    .button-parent {
        display:flex;
        justify-content: center;
        align-items: center;

        .button {
            display:flex;
            justify-content: center;
            align-items: center;
            background: @my_green;
            width: 75%;
            border: none;
            height: 70px;
            color: @my_white;
            border-radius: 25px;
            font-style: @major_font;
            font-weight: 400;
            font-size: 24px;
            transition: transform 0.3s ease;
            padding: 0;
            
    
            @media (min-width: 576px) {
                font-size: 32px;
            }
            @media (min-width: 768px) {
                font-size: 36px;
            }
    
            &:hover {
                background: @my_purple;
                transform:scale(1.1);
            }
        }
    }
}

.footer {
    margin: 30px 0 0 0;
    background: #4F4F4F;
    color: @my_white;
    .text {
        text-align:center;
        font-style: @major_font;
        font-weight: 300;
        font-size: 16px;
        @media (min-width: 576px) {
            font-size: 20px;
        }
    }
}


// div.row {
//     border: 2px solid #000000;
//     padding: 5px;
//     margin: 30px 0;
// }
// [class^="col-"] {
//     border: 1px solid red;
//     // font-family: @title_font;
//     box-sizing: border-box;
// }


